<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yesudu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstore_one"
        android:label="@string/app_name"
        android:roundIcon="@drawable/playstore_one"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.yesudu.MyAccountActivity" />
        <activity android:name="com.example.yesudu.BlockListActivity" />
        <activity android:name="com.example.yesudu.AdminActivity"
            android:parentActivityName="com.example.yesudu.MyAccountActivity"/>
        <activity android:name="com.example.yesudu.UserAccountActivity"
            android:parentActivityName="com.example.yesudu.ChatActivity"/>
        <activity
            android:name="com.example.yesudu.ChatActivity"
            android:parentActivityName="com.example.yesudu.MyAccountActivity"/>
        <activity android:name="com.example.yesudu.PhotoViewPager"
            android:parentActivityName="com.example.yesudu.GalleryActivity"/>
        <activity android:name="com.example.yesudu.rules_and_policy.InformationListActivity"/>
        <activity android:name="com.example.yesudu.rules_and_policy.InformationActivity"/>
        <activity android:name="com.example.yesudu.GalleryActivity"/>
        <activity android:name="com.example.yesudu.ResetPasswordActivity"
            android:parentActivityName="com.example.yesudu.MyAccountActivity"/>
        <activity android:name="com.example.yesudu.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>